In [7]:
import ccxt 
import pandas as pd

binance = ccxt.binance()
btc_ohlcv = binance.fetch_ohlcv("BTC/USDT", '1h')

df = pd.DataFrame(btc_ohlcv, columns=['time', 'open', 'high', 'low', 'close', 'volume'])
df['time'] = pd.to_datetime(df['time'], unit='ms')
df

                   time      open      high       low     close       volume
0   2024-01-12 18:00:00  43803.98  43925.23  43250.00  43472.00   4482.59182
1   2024-01-12 19:00:00  43472.00  43720.00  43274.68  43472.55   2846.14963
2   2024-01-12 20:00:00  43472.56  43981.10  43401.64  43653.38   4898.54520
3   2024-01-12 21:00:00  43653.39  43861.10  43213.73  43449.00   3001.91979
4   2024-01-12 22:00:00  43450.01  43458.00  41500.00  42510.00  10954.10629
..                  ...       ...       ...       ...       ...          ...
495 2024-02-02 09:00:00  43015.99  43081.09  42957.43  42980.91    905.74704
496 2024-02-02 10:00:00  42980.91  43140.00  42941.10  43122.48   1137.69292
497 2024-02-02 11:00:00  43122.47  43199.00  43060.00  43148.41    939.24926
498 2024-02-02 12:00:00  43148.42  43239.57  43060.00  43130.81   1277.78253
499 2024-02-02 13:00:00  43130.81  43146.17  42802.89  42871.10   1266.18161

[500 rows x 6 columns]

In [8]:
#df 불러올 때마다 index 변하는 것 주의
df = df.iloc[342:439]
df

                   time      open      high       low     close      volume
342 2024-01-27 00:00:00  41823.51  41866.67  41708.00  41785.94   930.04300
343 2024-01-27 01:00:00  41785.94  41933.17  41768.50  41818.86   630.61808
344 2024-01-27 02:00:00  41818.86  41896.09  41815.48  41838.59   382.71397
345 2024-01-27 03:00:00  41838.60  41865.21  41765.64  41815.01   832.99188
346 2024-01-27 04:00:00  41815.01  41875.67  41791.10  41844.26   491.10343
..                  ...       ...       ...       ...       ...         ...
434 2024-01-30 20:00:00  43547.99  43760.00  43480.18  43561.10  2556.66446
435 2024-01-30 21:00:00  43561.10  43694.15  43488.32  43546.07  1431.55277
436 2024-01-30 22:00:00  43546.07  43574.80  43326.27  43327.77  1000.28757
437 2024-01-30 23:00:00  43327.78  43354.48  42683.99  42941.10  2737.29700
438 2024-01-31 00:00:00  42941.10  43107.77  42850.00  42933.21  1782.34600

[97 rows x 6 columns]

In [9]:
df.to_csv('C:/Users/yyb30/OneDrive/바탕 화면/Ascend competition 공유용_0202/ohlcv_01270131.csv')